/* Root */
.root {
  margin: 0;
  height: 100vh;

  font-family: 'Muli', sans-serif;
  overflow: hidden;

  background-color: cornsilk ;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}